{% extends 'base.html.twig' %}

{% block title %}Edit Adres{% endblock %}

{% block body %}
    <h1>Edit Adres</h1>

    {{ include('adres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adres_index') }}" class="btn btn-primary">back to list</a>

    {{ include('adres/_delete_form.html.twig') }}
{% endblock %}
