{% extends 'base.html.twig' %}

{% block title %}New Adres{% endblock %}

{% block body %}
    <h1>Create new Adres</h1>

    {{ include('adres/_form.html.twig') }}

    <a href="{{ path('adres_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
