{% extends 'base.html.twig' %}

{% block title %}Edit TemporaryPersonalData{% endblock %}

{% block body %}
    <h1>Edit TemporaryPersonalData</h1>

    {{ include('temporary_personal_data/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('temporary_personal_data_index') }}" class="btn btn-primary">back to list</a>

    {{ include('temporary_personal_data/_delete_form.html.twig') }}
    {% else %}
        <a href="{{ path('my_data') }}" class="btn btn-primary" >Back to My Data</a>
    {% endif %}
{% endblock %}
