<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}HR System{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <!-- header bar -->
    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col"><center><h1>Human Resource System</h1></center></div>
        </div>
    </div>

    <!-- main nav bar-->

    <!-- Grey with black text -->

    {% if is_granted('ROLE_USER') %}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <!---->
            <li class="nav-item active">
                <a class="nav-link" href="/start">Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my/data">My Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my/units">My Units</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="/user">Users</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_HR') %}
            <li class="nav-item">
                <a class="nav-link" href="/personal/data">Personal Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/job/data">Job Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adres">Adresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/emails">Emails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/phone/numbers">Phone Numbers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/units">Units</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/staff/category">Staff Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/engagement">Engagement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/membership">Membership</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <!---->
        </ul>
    </nav>

    {% endif %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block body %}Hello there!{% endblock %}
        </div>
    </div>


    <!-- footer bar -->

    <div class="jumbotron jumbotron-fluid align-bottom">
        <div class="container">
            <center>
                <p>I don't know what to place here yet</p>
            </center>

            <center>
                <small>
                    <p class="font-italic">Developed by Wojciech Taisner 2018</p>
                </small>
            </center>

        </div>
    </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
