{% extends 'base.html.twig' %}

{% block title %}Edit JobData{% endblock %}

{% block body %}
    <h1>Edit JobData</h1>

    {{ include('job_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_data_index') }}">back to list</a>

    {{ include('job_data/_delete_form.html.twig') }}
{% endblock %}
